<div id="loginBlock" class="row valign-wrapper">
	<div id="intro" class="col s8">
		<div class="container">
			<div class="responsive-img">
				<img src="/img/powerBtn.png" alt="Power Button Img">
			</div>
			<div id="introText valign-wrapper">
				<h5 class="center-align">Find Physical Address of an IP</h5>
			</div>
			
			<div id="shareButton" class="row">
				  <a href="https://github.com/vivian5668/Tinkling" class="shareButtons btn-floating black center-align"><i class="fab fa-github"></i></a>
				  
			      <a class="btn-floating black center-align shareButtons"><i class="fab fa-facebook-square"></i></a>
			      
			      <a class="btn-floating black center-align shareButtons"><i class="fab fa-twitter-square"></i></a>
			      
			      <a class="btn-floating black center-align shareButtons"><i class="fab fa-google-plus-square"></i></a>
			      
			</div>
		</div>
	</div>
		<div id="loginForm" class="col s4 valign-wrapper #fff9c4 yellow lighten-4">
			<form class="center-align" action="/auth/login" method="POST">
			  <div>
			    <label for="authEmail">Email</label>
			    <input id="authEmail" class="form-control" type="email" name="email">
			  </div>

			  <div>
			    <label for="authPassword">Password</label>
			    <input id="authPassword" class="form-control" type="password" name="password">
			  </div>

			  <input class="btn" type="submit">
			</form>
		</div>
</div>
