 <div id="wrapper">
        <div id="columns">
          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery1.png">
              <span class="card-title">Girl Portrait</span>
            </div>
            <div class="card-content">
              <p>Girl with the Pearl Earring by Johannes Vermeer</p>
            </div>
            <div class="card-action">
              <a href="https://en.wikipedia.org/wiki/Girl_with_a_Pearl_Earring">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery2.png">
              <span class="card-title">Waves</span>
            </div>
            <div class="card-content">
              <p>The Great wave off Kanazawa by Hokusai. One of the most famous paintings in Japanese history.</p>
            </div>
            <div class="card-action">
              <a href="https://en.wikipedia.org/wiki/The_Great_Wave_off_Kanagawa">source link</a>
            </div>
          </div>
			
			<div class="card grid black">
            <div class="card-image">
              <img src="img/gallery3.png">
              <span class="card-title">Mona Lisa</span>
            </div>
            <div class="card-content">
              <p>The Mona Lisa by Leonardo Di Vinci</p>
            </div>
            <div class="card-action">
              <a href="https://en.wikipedia.org/wiki/Mona_Lisa">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery4.png">
              <span class="card-title">Starry Night</span>
            </div>
            <div class="card-content">
              <p>Starry night by Vincent Van Gogh</p>
            </div>
            <div class="card-action">
              <a href="https://en.wikipedia.org/wiki/The_Starry_Night">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery5.png">
              <span class="card-title">Sydney Colors</span>
            </div>
            <div class="card-content">
              <p>When colors fly in the sky, scattered with joy and wonder, I praise this life of endless possibilities.</p>
            </div>
            <div class="card-action">
              <a href="http://www.rhythmboat.com.au/vivid-sydney/">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery6.png">
              <span class="card-title">Bird</span>
            </div>
            <div class="card-content">
              <p>Colorful spring bird!</p>
            </div>
            <div class="card-action">
              <a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_AeqLZHbJOq-LmZ3UkJDRLv77Fo2RV-XKWiHM2xZ4MjJwx87ZzQ">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery7.png">
              <span class="card-title">Rainbow Lion</span>
            </div>
            <div class="card-content">
              <p>After a warm goodnight hug and kiss, lions don't appear fearful in dreams anymore. They become magical creatures, drifting in the wonderland.</p>
            </div>
            <div class="card-action">
              <a href="http://www.rhythmboat.com.au/vivid-sydney/">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery8.png">
              <span class="card-title">Dragon</span>
            </div>
            <div class="card-content">
              <p></p>
            </div>
            <div class="card-action">
              <a href="http://www.dailymail.co.uk/news/article-4541442/Everything-need-know-Vivid-Sydney.html">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery9.png">
              <span class="card-title">Pokemon</span>
            </div>
            <div class="card-content">
              <p>Pokemon in ASCII. What could possibly be cooler than that?</p>
            </div>
            <div class="card-action">
              <a href="http://www.imagefully.com/wp-content/uploads/2015/07/The-Cute-Yellow-Pikachu-Picture.jpg">source link</a>
            </div>
          </div>


          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery10.png">
              <span class="card-title">Doggie Awesomeness</span>
            </div>
            <div class="card-content">
              <p>Cute doggie in ASCII</p>
            </div>
            <div class="card-action">
              <a href="https://4.imimg.com/data4/NM/TY/MY-23239130/dog-500x500.jpg">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery11.png">
              <span class="card-title">Frida Kahlo</span>
            </div>
            <div class="card-content">
              <p>Frida Kahlo self-portrait</p>
            </div>
            <div class="card-action">
              <a href="https://en.wikipedia.org/wiki/Frida_Kahlo">source link</a>
            </div>
          </div>

          <div class="card grid black">
            <div class="card-image">
              <img src="img/gallery12.png">
              <span class="card-title">Eye</span>
            </div>
            <div class="card-content">
              <p>Staring eyes full of ASCII powers</p>
            </div>
            <div class="card-action">
              <a href="https://farm8.static.flickr.com/7367/13891786227_b876e184cd_b.jpg">source link</a>
            </div>
          </div>

        </div>
 </div>

