<div id="landingpage">
   <div class="slider">
      <ul class="slides">
        <li>
          <img class="responsive-img" src="img/gallery1.png"> 
          <div class="caption center-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="img/gallery4.png"> 
          <div class="caption left-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="img/gallery3.png"> 
          <div class="caption right-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <img class="responsive-img" src="img/gallery2.png"> 
          <div class="caption center-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
      </ul>
    </div>

    <% if (currentUser === 'Login') { %>
               <div id="homePageButtons">
                <a class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text" href="/gallery">Gallery</a>
                <a class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text" href="/auth/signup">Sign up</a>
                <a class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text" href="/auth/login">Login</a>
              </div>
              
          <% } else { %>
                <div id="homePageButtons">
                <a class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text" href="/gallery">Gallery</a>
                <a class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text" href="/projects/new">New Project</a>
              </div>
              
          <% } %>  
</div>