body {
	text-align: center;
	color: white;
	background-color: black
}

#imageResult {
	/*width: 50%;*/
/*	height: 50vh;*/
}

.slider {
	width: 600px;
	margin: 0 auto;
}

#homePageButtons {
	padding: 40px;
}