body {
	/*text-align: center;*/
	color: white;
	background-color: black
}

#imageResult {
	/*width: 50%;*/
/*	height: 50vh;*/
}

.slider {
	width: 600px;
	margin: 0 auto;
}

#homePageButtons {
	padding: 40px;
	margin: 0 auto;
	width: 100%;
}

#landingpage {
	padding: 20px;
	text-align: center;
}

#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 490px;
	margin: 50px auto;
}

#columns {
	column-count: 4;
	column-gap: 10px;
	column-fill: auto;
}

.grid {
	display: inline-block;
	margin: 0 2px 15px;
	columns-break-inside: avoid;
	padding: 15px;
	transition: all 1s ease;
}

@media (max-width: 500px) {
	#columns {
	column-count: 1;
	}
}

@media (min-width: 500px){
	#columns {
	column-count: 2;
	}
}

@media (min-width: 900px) {
	#columns {
	column-count: 3;
	}
}

#cloudinarypicture {
	
}

