<div id="editProject">

	<h4> You are editting details for: <%= project.project_name %></h4>

	<form action="/projects/<%=project.id%>" id="put-form">
		<div class="form-group">
			<label for="">New Name: </label>
			<input type="text" id="name" name="name" value="<%= project.project_name%>">
			<label for="">New Description</label>
			<input type="text" id="description" name="description" value="<%= project.description%>">
			<input type="submit" value="Change It" class="waves-effect waves-light btn #e0e0e0 grey lighten-2 black-text">
		</div>
	</form>
</div>