<div id="newproject">
	<h1>File Upload</h1>

	<form enctype="multipart/form-data" action="/projects/new" method="POST">
	  <input type="text" name="project_name" placeholder="project name here...">
	  <input type="text" name="description" placeholder="description here...">
	  <input type="file" name="myFile">
	  <input type="submit" class="btn btn-primary">
	</form>
</div>

	<h1>My Images</h1>

<% img.forEach(function(image) { %>
	<% var imgUrl = cloudinary.url(image, {width: 150, height: 150}); %>
	<img src="<%= imgUrl %>" >
<%}); %>