<h2>Original Image</h2>
<div>
	<img src="<%= imgUrl %>" alt="">
</div>

<h2>ASCIIamge</h2>

<div id="imageResult">
	<%- project.ascii_url %>
</div>


<a href="#" class="waves-effect waves-light btn">Save ASCII image</a>


<a href="/projects/<%= project.id %>/edit" class="waves-effect waves-light btn">Edit this Project</a>
<a href="/projects/<%= project.id %>/destroy" class="waves-effect waves-light btn">Delete this Project</a>

