<h2><%= project.project_name%></h2>

<div class="cloudinarypicture" style='background:url("<%= project.cloudinary_url %>");background-repeat: no-repeat;'></div>

<div id="imageResult">
	<%- project.ascii_url %>
</div>